<section id="accessBar">
    <div id="whiteSpace">
        {{!-- Div for white space area --}}
    </div>
    <div id="contentArea">
        <ul id="ulcolor">
            <li>
                <a class="acolor" href="">Get access to Different Universities/College papers</a>
            </li>
            <li>
                <a class="acolor" href="/blogs">Daily Blogs</a>
            </li>
            <li>
                <a class="acolor" href="/test">MCQ Qestions</a>
            </li>
            <li>
                <a class="acolor" href="/contribute">Contribute</a>
            </li>
        </ul>
    </div>
</section>