<nav id="navbar">
        <div id="logo">
            <img src="images/logo.jpg" alt="">
        </div>
        <ul>
            <li class="item"><a href="/">HOME</a></li>
            <li class="item"><a href="/content">CONTENT</a></li>
            <li class="item"><a href="/about">ABOUT US</a></li>
            <li class="item"><a href="/contact">CONTACT US</a></li>
        </ul>
</nav>