{{> navbar}}
<section class="aboutSection">
    <div class="abouArea">
        <h2>CollegeSummary</h2>
        <hr>
        <div class="aboutContent">
            <p>CollegeSummary is developed by two students <b>Hemant Pokhriyal and Vivek Uniyal</b> of GBPIET (Govind Ballabh Pant Institue of Engineering and Technology) from MCA (batch 2021).</p>
            <p>This website is being developed for students where they can get news of their Colleges and can have access to their college papers and have the facility to give MCQ based Questions , to summarise all the things this website is developed for easy access to local colleges exam andthe content and get thier college specific News.</p>
            <p class="para_center"><b>Contact Details: </b></p>
            <p class="para_center"><b>+91 9458926115 </b></p>
            <p class="para_center"><b>+91 7300565769 </b></p>
        </div>
    </div>
</section>
{{> footer}}