    <section id="contib">
        <div class="contibArea">
            <h2>Contribute</h2>
            <hr>
            <p>
                This is an open source website.  This website has been designed by <b> Hemant Pokhriyal </b> and <b> Vivek Uniyal</b>, students studying in MCA in GBPIET. Anyone can contribute to this website.  Anyone who wants to contribute to this website can contact through the medium given below. Thank you <br>
                contact 1: +919458926115 <br>
                contact 2: +917465071765 <br>
                Mail id : vivekuniyal123456@gmail.com <br>
                Mail id : hemantpokhriyal3@gmail.com
            </p>
            <hr>
            <div id="link_home">
                <a href="/">Go to home</a>
            </div>
        </div>
    </section>