{{> navbar}}
{{> accessbar}}

<section id="shortcutArea">
    <div id="contentShortcuts">
        <div id="mcqShortcut">
            <h3>Mcq Questions</h3>
            <ul>
                <li>
                    <a href="/test">MCQ Questions for B.sc Maths</a>
                </li>
                <li>
                    <a href="/test">MCQ Questions for B.sc Physics</a>
                </li>
                <li>
                    <a href="/test">MCQ Questins for Computer Science</a>
                </li>
                <li>
                    <a href="/test">MCQ Questins for Verbal Ability</a>
                </li>
                <li>
                    <a href="/test">MCQ Questins for Quantitative Aptitude</a>
                </li>
            </ul>
        </div>
        <div id="textArea">
            <h2>CollegeSummary</h2>
            <p>Get the latest Updates on Universities and test Yourself with different MCQ Questions (Subjectwise). </p>
            <p>Know More <a href="/about">About Us</a></p>

        </div>
        <div id="questionPaperShortcut">
            <div class="tiles">
                <a href="">HNBGU Bsc Previous Year Question Papers</a>
            </div>
            <div class="tiles">
                <a href="">GBPIET Previous Year Question Papers</a>
            </div>
            <div class="tiles">
                <a href="">JAM Previous Year Papers</a>
            </div>
            <div class="tiles">
                <a href="">JEE Advance Papers</a>
            </div>
        </div>
    </div>
</section>
<section id="blogShortcut">
    <div id="topHeading">
         <h2>Know more about our Blog community</h2>
    </div>
    <div  id="blogcontent">
        {{!-- Data will be fetched from script/blog.txt --}}
    </div>
    <div id="blogSecionButton">
        <ul>
            <li>
                <a href="/blogs">Go to our Blog Section</a>
            </li>
        </ul>
    </div>
</section>
{{> footer}}
<script src="script/content.js"></script>