<body>
    {{> navbar}}
    <section id="home">
        <div class="slidercontainer">
            <div class="showSlide fade">
                <img src="images/pic1.jpeg" />
                <div class="content"><h3>Welcome To CollegeSummary</h3>
                     <p>Learn and test yourself </p>
                    <hr>
                </div>
            </div>
            <div class="showSlide fade">
                <img src="images/pic2.png" />
                <div class="content"><h3 style="color: white;">Welcome To CollegeSummary</h3>
                     <p style="color: white;">Learn about the latest technologies </p>
                    <hr>
                </div>
            </div>

            <div class="showSlide fade">
                <img src="images/books.jpeg" />
                <div class="content"><h3>Welcome To CollegeSummary</h3>
                    <p>Get to know about the latest News on Colleges </p>
                    <hr>
                </div>
            </div>
            <div class="showSlide fade">
                <img src="images/pic3.jpeg" />
                <div class="content">
                </div>
            </div>
            <!-- Navigation arrows -->
            <a class="left" onclick="nextSlide(-1)">❮</a>
            <a class="right" onclick="nextSlide(1)">❯</a>
        </div>
    </section>
    <section id="content">
        <h1 class="h1_primary">Available Content</h2>
            <div id="content_cards">
                <div class="card">
                    <img src="images/test.jpeg" alt="Previous Year Questions">
                    <h2 class="h2_primary">Previous Year Questions</h2>
                    <p class="center">Get access to the previous year Question Papers</p>
                    <div class="card_button">
                        <a href="/blogs">Explore more</a>
                    </div>
                </div>
                <div class="card">
                    <img src="images/previous year.jpeg" alt="Previous Year Questions">
                    <h2 class="h2_primary">News/Blogs</h2>
                    <p class="center">Get to know the latest news and blogs</p>
                    <div class="card_button">
                        <a href="/blogs">Explore more</a>
                    </div>
                </div>
                <div class="card">
                    <img src="images/test.jpeg" alt="test">
                    <h2 class="h2_primary">Test Yourself</h2>
                    <p class="center">Take MCQ tests </p>
                    <div class="card_button">
                        <a href="/test">Explore more</a>
                    </div>
                </div>
            </div>
    </section>

    <section class="aboutSection">
        <div class="about">
            <h2>About</h2>
            <hr>
            <div class="aboutarea">
                <p>"CollegeSummary is developed by two students <b>Hemant Pokhriyal</b> and  <b>Vivek Uniyal</b> "of GBPIET (Govind Ballabh Pant Institue of Engineering and Technology) from MCA (batch 2021)."</p>

                <p>"This website is being developed for students where they can get news of their Colleges and can haveaccess to their college papers and have the facility to give MCQ based Questions , to summarise all thethings this website is developed for easy access to local colleges exam andthe content and get thiercollege specific News."</p>
                <p>
                    Contact No. +91 9458926115 <br>
                     +91 7465071765
                </p>
            </div>
        </div>
    </section>
    {{> footer }}
    <script src="script/i.js"></script>
</body>