{{> navbar}}
{{> accessbar}}
<section id="mcqFilters">
    <div id="filterSection">
        <ul>
            <li><a href="#biology">Biology</a></li>
            <li><a href="#cheistry">Chemistry</a></li>
            <li><a href="#computer">Computer Science</a></li>
            <li><a href="#mathematics">Mathematics</a></li>
            <li><a href="#reasoning">Reasoning</a></li>
            <li><a href="#quant">Quantitaive Aptitude</a></li>
        </ul>
    </div>
</section>
<section id="biology" class="forstyle">
    <div id="bioUndergraduate" class="forstyle_1">
        <h2>Biology</h2>
        <ul>
            <li><a href="javascript:void(0);" onclick="biology_1();">biology-1</a></li>
            <li><a href="javascript:void(0);" onclick="biology_2();">biology-2</a></li>
            <li><a href="javascript:void(0);" onclick="biology_3();">biology-3</a></li>
            <li><a href="javascript:void(0);" onclick="biology_4();">biology-4</a></li>
        </ul>
    </div>
</section>
<section id="physics" class="forstyle">
    <div id="physicsUndergraduate" class="forstyle_1">
        <h2>Physics</h2>
        <ul>
            <li><a href="javascript:void(0);" onclick="physics_1();">Physics-1</a></li>
            <li><a href="javascript:void(0);" onclick="physics_2();">Physics-2</a></li>
            <li><a href="javascript:void(0);" onclick="physics_3();">Physics-3</a></li>
            <li><a href="javascript:void(0);" onclick="physics_4();">Physics-4</a></li>
        </ul>
    </div>
</section>
<section id="chemistry" class="forstyle">
    <div id="chemistryUndergraduate" class="forstyle_1">
        <h2>Chemistry</h2>
        <ul>
            <li><a href="javascript:void(0);" onclick="chemistrytest_1();">Chemistry-1</a></li>
            <li><a href="javascript:void(0);" onclick="chemistrytest_2();">Chemistry-2</a></li>
            <li><a href="javascript:void(0);" onclick="chemistrytest_3();">Chemistry-3</a></li>
            <li><a href="javascript:void(0);" onclick="chemistrytest_4();">Chemistry-4</a></li>
        </ul>
    </div>
</section>
<section id="computer" class="forstyle">
    <div id="computerUndergraduate" class="forstyle_1">
        <h2>Computer</h2>
        <ul>
            <li><a href="javascript:void(0);" onclick="computer_1();">C language</a></li>
            <li><a href="javascript:void(0);" onclick="computer_2();">Java</a></li>
            <li><a href="javascript:void(0);" onclick="computer_3();">try third test</a></li>
            <li><a href="javascript:void(0);" onclick="computer_4();">try fourth test</a></li>
        </ul>
    </div>
</section>
<section id="mathematics" class="forstyle">
    <div id="computerUndergraduate" class="forstyle_1">
        <h2>Mathematics</h2>
        <ul>
            <li><a href="javascript:void(0);" onclick="mathematicstest_1();">Maths-1</a></li>
            <li><a href="javascript:void(0);" onclick="mathematicstest_2();">Maths-2</a></li>
            <li><a href="javascript:void(0);" onclick="mathematicstest_3();">Maths-3</a></li>
            <li><a href="javascript:void(0);" onclick="mathematicstest_4();">try fourth test</a></li>
        </ul>
    </div>
</section>
<section id="reasoning" class="forstyle">
    <div id="computerUndergraduate" class="forstyle_1">
        <h2>Reasoning</h2>
        <ul>
            <li><a href="javascript:void(0);" onclick="reasoningtest_1();">try test</a></li>
            <li><a href="javascript:void(0);" onclick="reasoningtest_2();">try second test</a></li>
            <li><a href="javascript:void(0);" onclick="reasoningtest_3();">try third test</a></li>
            <li><a href="javascript:void(0);" onclick="reasoningtest_4();">try fourth test</a></li>
        </ul>
    </div>
</section>
<section id="quant" class="forstyle">
    <div id="computerUndergraduate" class="forstyle_1">
        <h2>Quantitative Aptitude</h2>
        <ul>
            <li><a href="javascript:void(0);" onclick="quanttest_1();">try test</a></li>
            <li><a href="javascript:void(0);" onclick="quanttest_2();">try second test</a></li>
            <li><a href="javascript:void(0);" onclick="quanttest_3();">try third test</a></li>
            <li><a href="javascript:void(0);" onclick="quanttest_4();">try fourth test</a></li>
        </ul>
    </div>
</section>
<section id="mcqLoadingSection">

</section>
{{> footer}}
<script src="script/test.js"></script>
