@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

#navbar{
    background-color: #404952;
    display:flex;
    align-items:center;
    justify-content: center;
    width:100vw;
    height:16vh;
    overflow:hidden;
    position:relative;
    /* background-color:#f8f8f8; */
}
#logo{
    margin-right: 4rem;
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
}
#logo img{
    height:5rem;
    width:5.5rem;
}
#navbar ul{
    display:flex;
}
#navbar ul li{
    list-style:none;
}
#navbar ul li a{
    font-family: 'Ubuntu', sans-serif;
    display: block;
    text-decoration:none;
    color:#ffffff;
    padding: 38px 30px;
    border-radius:5px;

}
#navbar ul li a:hover{
    background-color:#034079;
    color:#f6f6f6;
    transition-duration: 0.5s;
}

.items{
    margin-left: 2rem;
    margin-right: 2rem;
}

/* CSS for Home section */

#home{
    font-family: 'Roboto', sans-serif;
    width:100vw;
    height:95vh;
}
.showSlide {  
    display: none;
}  
.showSlide img {  
    width: 100vw;
    height: 95vh;
}  

.slidercontainer {  
    width: 100vw;
    height: 95vh;
    position: relative;  
    margin: auto;  
    border-radius: 10px;
}  
.left, .right {  
    cursor: pointer;  
    position: absolute;  
    top: 50%;  
    width: auto;  
    padding: 16px;  
    margin-top: -22px;  
    color: white;  
    font-weight: bold;  
    font-size: 18px;  
    transition: 0.6s ease;  
    border-radius: 0 3px 3px 0;  
    background-color: #8d8d8d;
}  
.right {  
    right: 0;  
    border-radius: 3px 0 0 3px;  
}  
.left:hover, .right:hover {  
    background-color: rgba(80, 80, 80, 0.8);  
}  
.content {  
    color: #eff5d4;  
    font-size: 3rem;  
    padding: 8px 12px;  
    position: absolute;  
    top: 5rem;  
    width: 100%;  
    text-align: center;  
    font-weight:700;
}
.content p{
    font-family: 'Ubuntu', sans-serif;
    color: #eff5d4;  
    font-size: 1.5rem;  
    padding: 8px 12px;  
    position: absolute;  
    top: 6rem;  
    width: 100%;  
    text-align: center;  
    font-weight:700;
}  
.content hr{
    width:50%;
    margin:0px auto;
}
.active {  
    background-color: #717171;  
}  
/* Fading animation */  
.fade {  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1.5s;  
    animation-name: fade;  
    animation-duration: 1.5s;  
}  
@-webkit-keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

/* CONTENT SECTION */
#content_cards{
    display:flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom:2.6rem;
    justify-content: center;
    align-items: center;
}
#content{
    height:50rem;
    width:100vw;
    background-color: #ebebeb;
}
#content h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding:1.2rem 0rem;
    font-size: 2.5rem;
    color:rgb(8, 8, 8);
}
#content_cards .card{
    /* border: 2px solid black; */
    margin:0px 15px;
    background-color:#a7caeba3;
    border-radius:8px;
    box-shadow: 2px 2px 20px black;
    width: 390px;
    height: 460px;
}

.card p{
    font-family: 'Ubuntu', sans-serif;
}

.card img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width:390px;
    height:270px;
    display:block;
}
.h2_primary{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    margin:1rem 0rem;
}
.center{
    text-align:center;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
}
.card_button{
    display: flex;
    justify-content:center;
    align-items: center;
}
.card_button a{
    text-decoration:none;
    cursor:pointer;
    background-color:#034079;
    color:white;
    border-radius:5px;
    padding:0.4rem;
    font-family: 'Ubuntu', sans-serif;
}

.card_button a:hover{
    background-color:white;
    color: #034079;
}

/* About Section */
.aboutSection{
    height:30vh;
    width:100vw;
    background-color: #404952;
}

.about{
    height:30vh;
    width:100vw;
}

.about h2{
    font-family: 'Roboto', sans-serif;
    padding:0.5rem;
    color: white;
    text-align: center;
}

.aboutarea{
    text-align: center;
}

.aboutarea p{
    font-family: 'Ubuntu', sans-serif;
    padding:0.5rem;
    color: white;
}

#footer_section{
    font-family: 'Ubuntu', sans-serif;
    width:100vw;
    background-color:black;
    color:white;
    text-align:center;
}







/* Media queries */

@media only screen and (max-width: 1324px) and (min-width: 1054px){
    
    /* media Query for Content Sction */

    #content_cards .card{
        width: 300px;
        height: 435px;
    }

    #content_cards .card img{
        width: 300px;
        height: 270px;
    }
}



@media only screen and (max-width:1053px) and (min-width:800px){
    
    /* Media Query for content Section */

    #content {
        height: 220vh;
    }
    
    #content_cards .card{
        width: 500px;
        height: 410px;
        margin-bottom: 2rem;
    }

    #content_cards .card img{
        width: 500px;
        height: 270px;
    }
}

@media only screen and (max-width:800px) and (min-width:550px){
   
    /* media Query for navbar Section */

    #navbar{
        flex-direction: column;
        height:28vh;
    }

    #logo img{
        height: 4rem;
        width: 4.5rem;
    }
    #navbar ul li a{
        padding: 19px 30px;
    }


    /* Media Query for Home Section */
    #home{
        height:70vh;
    }

    .slidercontainer{
        height: 70vh;
    }

    .showSlide img {
        height: 70vh;
    }

    /* Media query for Content section */
    #content {
        height: 225vh;
    }

    #content_cards .card{
        width: 350px;
        height: 435px;
        margin-bottom: 2rem;
    }

    #content_cards .card img{
        width: 350px;
        height: 270px;
    }
}

@media only screen and (max-width:550px) and (min-width:350px) {
    /* media Query for navbar Section */

    #navbar{
        flex-direction: column;
        height:20vh;
    }

    #logo{
        margin-right: 2.5rem;
        margin-bottom:0rem;
    }

    #logo img{
        height: 4rem;
        width: 4.5rem;
    }
    #navbar ul li a{
        padding: 19px 14px;
        font-size:0.8rem;
    }


    /* Media Query for Home Section */
    #home{
        height:55vh;
    }

    .slidercontainer{
        height: 55vh;
    }

    .showSlide img {
        height: 55vh;
    }
    .content h3{
        font-size: 1.2rem;;
    }

    .content p{
        font-size: 0.8rem;
        top:3rem;
    }

    .left , .right {
        padding:13px;
    }

     /* media Query for Content Sction */
     #content {
        height: 245vh;
    }


     #content_cards .card{
        width: 300px;
        height: 435px;
        margin-bottom: 2rem;
    }

    .card p{
        margin-bottom:0.5rem;
    }

    #content_cards .card img{
        width: 300px;
        height: 270px;
    }


    /* For about Section */
    .aboutSection{
        height:50vh;
    }

    .about{
        height:50vh;
    }

    .aboutarea p{
        font-size: 14px;
    }
}