@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

#navbar{
    background-color: #404952;
    display:flex;
    align-items:center;
    justify-content: center;
    width:100vw;
    height:16vh;
    overflow:hidden;
    position: relative;
    /* background-color:#f8f8f8; */
}
#logo{
    margin-right: 4rem;
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
}
#logo img{
    height:5rem;
    width:5.5rem;
}
#navbar ul{
    display:flex;
}
#navbar ul li{
    list-style:none;
}
#navbar ul li a{
    font-family: 'Ubuntu', sans-serif;
    display: block;
    text-decoration:none;
    color:#ffffff;
    padding: 38px 30px;
    border-radius:5px;

}
#navbar ul li a:hover{
    background-color:#034079;
    color:#f6f6f6;
    transition-duration: 0.5s;
}

.items{
    margin-left: 2rem;
    margin-right: 2rem;
}

/* CSS for Access Bar */

#accessBar{
    width:100vw;
    height:11vh;
    background-color: #404952;
    position: relative;
}
#whiteSpace{
    width:100vw;
    height:2vh;
    background-color:white;
}

#contentArea{
    display:flex;
    justify-content: center;
    text-align: center;
}

#contentArea ul{
    display: flex;
    background-color:white;
    padding-top: 0.5rem;
    height:3.5rem;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

#contentArea ul li {
    list-style: none;
    text-align: center;
    margin-top: 0.5rem;
}
#contentArea ul li a{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    padding:0.5rem 1.5rem;
    padding-bottom:1rem;
    margin:0rem 0.3rem;
    color:#404952;
}
#contentArea ul li a:hover{
    background-color:#034079;
    color:#ffffff;
    border-radius: 8px;
}

/* Filter Section */
#mcqFilters{
    height:10vh;
    width:100vw;
    background-color:#ffffff;
}
#filterSection{
    display:flex;
    justify-content:center;
}

#filterSection ul{
    display:flex;
    flex-wrap: wrap;
    background-color:#404952;
    height:10vh;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#filterSection ul li{
    list-style: none;
    margin:auto 0.5rem;
}
#filterSection ul li a{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color:#ffffff;
    padding:0.5rem 0.5rem;
}
#filterSection ul li a:hover{
    background-color:#034079;
    border-radius: 5px;
}
.forstyle{
    height:40vh;
    width:100vw;
    display:block;
}
.forstyle_1{
    display:flex;
    justify-content:center;
    margin-top: 2rem;
    background-color:rgb(226 241 255);
    background-image: repeating-linear-gradient(20deg,#ffffff ,rgb(226 241 255) 10%);
    height:43vh;
}
.forstyle_1 ul{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    margin:auto 0vw;
    /* flex-direction: column; */
}
.forstyle_1 ul li{
    list-style: none;
    margin: 1.5rem;
}
.forstyle_1 h2{
    font-family: 'Roboto', sans-serif;
    margin:auto 4vw;
    background-color:#ffffff;
    color:#404952;
    border-radius: 8px;
    padding:0.5rem;
}
.forstyle_1 ul li a{
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: white;
    background-color: #404952;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 20px;
}

.forstyle_1 ul li a:hover{
    background-color:#034079;
    color:#ffffff;
}



/* css for mcqLoadingSection */

#biotestobj1{
    height:55vh;
    width:60vw;
    margin-top: 1rem;
    /* overflow-y: scroll; */
}

#mcqLoadingSection{
    height:70vh;
    width:100vw;
    display:none;
    justify-content:center;
}

/* Css for footer section */
#footer_section{
    width:100vw;
    background-color:black;
    color:white;
    text-align:center;
}





/* MEDIA QUERY SECTION */


@media only screen and (max-width:800px) and (min-width:600px){
    #navbar{
        flex-direction:column;
        height:23vh;
    }
    #logo{
        margin-bottom:0.5rem;
    }
    #navbar ul li a{
        padding: 10px 30px;
    }
    #shortcutArea{
        height:70vh;
    }
    #contentArea ul li a {
        padding: 3px 4px;
        font-size: 14px;
    }
}

@media only screen and (max-width:600px) and (min-width:400px){
    #navbar {
        flex-direction:column;
        height:20vh;
    }
    #logo {
        margin-right: 3rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    #logo img {
        height: 4rem;
        width: 5rem;
    }
    #navbar ul li a {
        padding: 10px 6px;
        border-radius: 4px;
        font-size: 15px;    
    }
    #accessBar{
        height:27vh;
    }
    #contentArea{
        height:25vh;
    }
    #contentArea ul{
        padding: 0.5rem;
        flex-direction: column;
        height:20vh;
    }
    #contentArea ul li{
        margin:0.3rem 0rem;
    }
    #contentArea ul li a{
        padding:0rem 1rem;
        padding-bottom: 0.2rem;
    }

    #navbar {
        flex-direction:column;
        height:20vh;
    }
    #logo {
        margin-right: 3rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    #logo img {
        height: 4rem;
        width: 5rem;
    }
    #navbar ul li a {
        padding: 10px 6px;
        border-radius: 4px;
        font-size: 15px;    
    }
    #accessBar{
        height:27vh;
    }
    #contentArea{
        height:25vh;
    }
    #contentArea ul{
        padding: 0.5rem;
        flex-direction: column;
        height:20vh;
    }
    #contentArea ul li{
        margin:0.3rem 0rem;
    }
    #contentArea ul li a{
        padding:0rem 1rem;
        padding-bottom: 0.2rem;
    }
    .forstyle {
        height: 30vh;
    }
    .forstyle_1 {
        height:33vh;
    }
    .forstyle_1 ul li{
        margin:1.2rem;
    }
    .forstyle_1 ul li a {
        padding: 0.8rem;
        font-size: 1rem;
    }
    #biotestobj1{
        width:85vw;
        height:70vh;
    }
}

@media only screen and (max-width:400px) and (min-width:330px){
    #navbar {
        flex-direction:column;
        height:20vh;
    }
    #logo {
        margin-right: 3rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    #logo img {
        height: 4rem;
        width: 5rem;
    }
    #navbar ul li a {
        padding: 10px 6px;
        border-radius: 4px;
        font-size: 14px;    
    }
    #accessBar{
        height:27vh;
    }
    #contentArea{
        height:25vh;
    }
    #contentArea ul{
        padding: 0.5rem;
        flex-direction: column;
        height:22vh;
        border-radius: 0px;
    }
    #contentArea ul li{
        margin:0.3rem 0rem;
    }
    #contentArea ul li a{
        padding:0rem 1rem;
        padding-bottom: 0.2rem;
    }
    #contentArea ul li a:hover{
        border-radius: 0px;
    }

    .forstyle {
        height: 40vh;
    }
    .forstyle_1 {
        height:40vh;
    }
    .forstyle_1 ul li{
        margin:1.2rem;
    }
    .forstyle_1 ul li a {
        padding: 0.8rem;
        font-size: 0.7rem;
    }
    #biotestobj1{
        width:90vw;
        height:68vh;
    }
}